# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\manup\OneDrive\Desktop\Schule\Oberschule\5. Klasse\SN\Projekte\Programming\SNMP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
